<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cursoFormulario" method="POST">
        <p>Curso: <imput type="text" nome="curso"></p>
        <p>Comision: <imput type="text" nome="comision"></p>
       
        <!--- -->
        <imput type="submit" value="Enviar">
            
</body>